@import "includes/colors.less";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;
}


header {
    background-color: @brown;
    background-color: @lightBlue;
    background-color: @darkBlue;
    height: 300px;

    padding-top: 48px;

    h1, h2 {
        color: white;
        font-weight: 300;
    }
    h1 {
        margin-top: 20px;
        font-weight: 600;
    }
}

